<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546785606263-ug7ppj7ri9po5naea4u5umeuhomce2no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546785606263-ug7ppj7ri9po5naea4u5umeuhomce2no</string>
	<key>API_KEY</key>
	<string>AIzaSyCrS8DVzBHmaCcnLRgNEh78P4tjVIKTd1M</string>
	<key>GCM_SENDER_ID</key>
	<string>546785606263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masataka.jisyoApp</string>
	<key>PROJECT_ID</key>
	<string>jisyo1</string>
	<key>STORAGE_BUCKET</key>
	<string>jisyo1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546785606263:ios:281e6a2ee3d5cabd032472</string>
</dict>
</plist>